@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #a19f9f;
}


.container {
    
    /* background-color: rgb(47, 47, 180); */
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
   
}
.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}
.input-container input{
    border: none;
    padding: 12px;
    outline: none;
    margin-block: 12px;
    border-radius: 5px;
    font-size: 17px;
}

.input-container #user-input{
    width: 70%;
}
.input-container #add-btn{
    background-color: #3da33d;
    color: #ffffff;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}

.input-container #add-btn:hover{
    background-color: #60b160;
}

ul{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* color: black; */
}
ul li{
    list-style: none;
    cursor: pointer;
    border: 1px solid #a19f9f ;
    border-radius: 8px;
    margin-block-end: 15px;
    padding: 6px 12px;
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* color: black; */
    transition: background-color  0.5s;
}
ul li:hover{
    background-color: #cbcaca;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}

ul li .btn{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;



}

.delete-btn{
    color: red;
    padding: 5px;
}
.edit-btn{
    color: green;
    padding: 5px;
}
